{
    "account_id": "{{ f5cs_account_info.json.primary_account_id }}",
    "catalog_id": "c-aa_preview",
    "plan_id": "p-__free_dns",
    "service_instance_name": "{{gslb_service_name}}",
    "service_type": "gslb",
    "configuration": {
        "gslb_service": {
            "zone": "{{ gslb_zone }}",
            "load_balanced_records": {
                "lbr1": {
                    "aliases": [
                        "{{ gslb_zone_a_record }}"
                    ],
                    "display_name": "{{ gslb_service_name }} records",
                    "enable": true,
                    "persist_cidr_ipv4": 24,
                    "persist_cidr_ipv6": 56,
                    "persistence": true,
                    "persistence_ttl": 3600,
                    "proximity_rules": [
                        {
                            "pool": "{{ gslb_service_name_short }}_fallback_pool",
                            "region": "global",
                            "score": 10
                        },
                        {
                            "pool": "{{ gslb_service_name_short }}_uk_pool",
                            "region": "uk_region",
                            "score": 50
                        },
                        {
                            "pool": "{{ gslb_service_name_short }}_us_pool",
                            "region": "us_region",
                            "score": 50
                        }
                    ],
                    "rr_type": "A"
                }
            },
            "pools": {
                "{{ gslb_service_name_short }}_uk_pool": {
                    "enable": true,
                    "rr_type": "A",
                    "ttl": 30,
                    "max_answers": 1,
                    "load_balancing_mode": "round-robin",
                    "members": [
                        {
                            "virtual_server": "{{ gslb_service_name_short }}_vs_region_eu_west2",
                            "monitor": "tcp_monitor",
                            "ratio": 80
                        }
                    ]
                },
                "{{ gslb_service_name_short }}_us_pool": {
                    "enable": true,
                    "rr_type": "A",
                    "ttl": 30,
                    "max_answers": 1,
                    "load_balancing_mode": "round-robin",
                    "members": [
                        {
                            "virtual_server": "{{ gslb_service_name_short }}_vs_region_us_east1",
                            "monitor": "tcp_monitor",
                            "ratio": 80
                        }
                    ]
                },
                "{{ gslb_service_name_short }}_fallback_pool": {
                            "display_name": "arch_arcadia_demo_fallback",
                            "enable": true,
                            "load_balancing_mode": "static-persist",
                            "max_answers": 1,
                            "members": [
                                {
                                    "monitor": "tcp_monitor",
                                    "virtual_server": "arch_arcadia_demo_vs_region_eu_west2"
                                },
                                {
                                    "monitor": "tcp_monitor",
                                    "virtual_server": "arch_arcadia_demo_vs_region_us_east1"
                                }
                            ],
                            "rr_type": "A",
                            "ttl": 30
                        }
            },
            "virtual_servers": {
                "{{ gslb_service_name_short }}_vs_region_eu_west2": {
                    "port": 80,
                    "monitor": "none",
                    "address_family": "ipv4",
                    "address": "{{ gslb_ips.0 | urlsplit('hostname') }}"
                },
                "{{ gslb_service_name_short }}_vs_region_us_east1": {
                    "port": 80,
                    "monitor": "none",
                    "address_family": "ipv4",
                    "address": "{{ gslb_ips.1 | urlsplit('hostname') }}"
                }
            },
            "monitors": {
                "tcp_monitor": {
                    "display_name": "tcp_monitor",
                    "monitor_type": "tcp",
                    "target_port": 80
                }
            },
            "regions": {
                "uk_region": {
                    "display_name": "uk",
                    "sectors": [
                        {
                            "scale": "country",
                            "code": "GB"
                        }
                    ]
                },
                "us_region": {
                    "display_name": "us",
                    "sectors": [
                        {
                            "scale": "country",
                            "code": "US"
                        }
                    ]
                }
            }
        }
    }
}